{% extends "base.html" %}

{% block title %}
Blog | James Whale
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/blog.css') }}">
{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <p class='center'><em>'Do for others just what you want them to do for you.'</em> - Luke 6:31</p>
    <p class='center'>We're all busy people, and as such each blog post here is provided with a TL;DR (Too Long; Didn't Read) beneath the image to save you your precious time and let you view what I've done at a glance.
You're welcome.</p>
    {% for blog in blogs %}
    <article>
        <a href='/blog/{{ blog.link }}'>
            <h3>{{ blog.title }}</h3>
            <div class='images' style='background-image: url(../static/media/{{ blog.image }}_01.jpeg); background-size: cover; background-position-y: 25%; width: 100%; height: 200px;'></div>
        </a>
        <p>{{ blog.description }}</p>
        <p>
            {% if blog.start_date == blog.end_date %}
                {{ blog.start_date }}
            {% else %}
                {{ blog.start_date }} - {{ blog.end_date }}
            {% endif %}
        </p>
    </article>
    {% endfor %}
{% endblock %}