{% extends "base.html" %}

{% block title %}
Privacy Policy
{% endblock %}

{% block content %}
	<article class="center">
		<h1>James Whale Privacy Policy</h1>
		<h2>How We Collect and Use Information</h2>
		<h3>Information you provide us directly:</h3>
		<p>We ask for certain information such as your name and e-mail address when you contact us through the form on our Contact page. We may also retain any messages you send through the service for up to a year but will delete the stored e-mails within one month upon request. We store this information to allow us to refer back to older conversations should it be required. Your name, if you choose to disclose it, will not be published publicly.</p>
		<h3>The 8 Individual Rights</h3>
			<h4>The right to be informed</h4>
			<p>When you submit an email to us from our contact page, we collect your email address, message and if provided, your name.
			We collect this information to allow us to effectively respond to your enquiries and retain this information for a year.
			We do not collect any external data on you from any other sources, nor will we share your information with any third parties.</p>
			<h4>The right of access</h4>
			<p>Your emails are the only information we store on you and as such, you - the client, already have a personal copy of your email in the form of the sent inbox in your email client.
			Upon receiving a request either verbally or in writing, all information about you we have on file and we will respond to you within one month.</p>
			<h4>The right of rectification</h4>
			<p>Data is only stored in the form of emails, and as such the validity of your information is reliant on the integrity of the emails we receive.
			Should the user discover they have information they wish to rectify, they can do so by resending the email in a correct manner and stating within that they wish to rectify the former email with the current.
			Upon receiving this request, we will remove the invalid information within one month.</p>
			<h4>The right to erasure</h4>
			<p>If the user wishes to have all stored information on them erased, they have the right to be forgotten.
			Upon receiving a request either verbally or in writing, we will remove all stored information on the user within one month.
			This information will include their email address, sent messages and name if provided.</p>
			<h4>The right to restrict processing</h4>
			<p>If the user wishes to have all stored information on them retained, they have the right to restrict processing.
			This means that information will still be stored on the user, but will not be used in any way.
			Upon receiving a request either verbally or in writing, we will retain all stored information on the user within one month.</p>
			<h4>The right to data portability</h4>
			<p>The right to data portability only applies to information an individual has provided to a controller.
			As no controller is used with any information collected on our site, there is no data that we can provide for portability.
			Should a user request it, we will provide copies of all data they have stored on them in the same format we received it.</p>
			<h4>The right to object</h4>
			<p>All users have the right to object to the processing of their personal data - this includes the right to stop data being used for direct marketing.
			No data collected through our website will be processed for any means other than replying to your messages.
			No data is used for marketing in any form.
			Should a user request it, either verbally or in writing, we will cease all processing of any data stored on the individual; however this means we will be unable to respond to any relevant messages they are awaiting reply.
			Upon receiving the request, we will take action on the request within one month.</p>
			<h4>Rights in relation to automated decision making and profiling</h4>
			<p>Currently, there are no automated individual decision-making processes, nor are there profiling procedures in place on our website.
			A result of this is that all received emails will be responded to on a first come, first served basis and responded to manually.
			This means that there are changes we can make to comply to this right, but should we incorporate these techniques later on, our policies will be adapted accordingly.</p>
	</article><!--[end]#center-->
{% endblock %}